@import url("https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
.create-ann-box {
  margin: 20px;
  padding: 20px;
  border-radius: 39px;
  background: #f3c192;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
/* #ebb582; */
.post-announcement-heading {
  display: flex;
  color: black;
  justify-content: center;
  font-family: "Lato", sans-serif;
  font-weight: bolder;
  font-size: 2.5rem;
}
.horizontal-line {
  border-top: 3px solid;
  opacity: 0.65;
  border-color: black;
}
.top-row-create-ann {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.user-info {
  justify-content: space-evenly;
}
.user-name {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  color: #001524;
}
.user-id {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  color: #001524;
}
.announcement-upload-buttons {
  display: flex;
  margin-top: 2%;
  justify-content: space-around;
}
.user-type {
  text-transform: uppercase;
  font-weight: bolder;
  color: black;
  font-family: "Inter", sans-serif;
}

.today-date {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  color: #001524;
}
.today-date-span {
  color: black;
}
.submit-ann {
  display: flex;
  justify-content: center;
  margin-top: 1.5%;
}

.ann-title,
.ann-content,
.ann-class,
.ann-subject {
  /* border: none; */
  outline: none;
  padding: 5px 5px;
  margin: 3px;
  background-color: transparent;
  width: 60%;
}

.ann-content {
  height: max-content;
}

#img-landscape {
  width: 20px;
}
.img-preview {
  display: flex;
  justify-content: center;
}
.ann-file {
  font-size: small;
  padding: 2px;
}

.ann-file:hover,
.pdf-preview:hover {
  cursor: pointer;
}

.pdf-preview {
  width: 10%;
}

.input-boxes {
  font-weight: 500;
  font-size: 14px;
  width: 80%;
  height: 40px;
  border-radius: 10px;
  padding-left: 10px;
  border: none;
  border-bottom: 1px solid #e5e5e5;
  outline: none;
}

.input-boxes:focus {
  border-bottom: 3px solid #6941c6;
  -webkit-transition: 0.2s;
  transition: 1s;
}
.create-ann-input-div {
  padding: 1.25%;
}
.label-create-announcement {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  color: black;
}
.text-content-box {
  height: 120px;
}

/* CSS */
.button-30 {
  align-items: center;
  appearance: none;
  background-color: #04364a;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff0f0;
  cursor: pointer;
  display: inline-flex;
  font-family: "Inter", sans-serif;
  height: 48px;
  width: 50%;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}
